
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    > section {
        flex: 1;
    }
}

article {
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-and-filter-area{
    padding: 20px;
    background-color: darkorange;
    color: white;
}

footer {
    background-color: black;
    color: lightgray;
    text-align: center;
    padding: 30px;
}

.movie-list{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
 
}
.card {
    width: 540px;
    margin: 20px;
}

.adminosio {
    padding-top: 50px;
    padding-bottom: 50px; }

.admin-elokuvakortti form label{
        margin-left: 10px;
    }
.admin-elokuvakortti  input{
    margin-left: 10px;
}

 .btn {
    margin: 10px 10px 10px 10px;
}







